<div class="resumeSection" id="technicalProjects-content">
  <%= render 'layouts/resume/content/technicalProjects' %>
</div>

<div class="resumeSection" id="technicalSkills-content">
  <%= render 'layouts/resume/content/technicalSkills' %>
</div>

<div class="resumeSection" id="employmentHistory-content">
  <%= render 'layouts/resume/content/employmentHistory' %>
</div>

<div class="resumeSection" id="education-content">
  <%= render 'layouts/resume/content/education' %>
</div>

<div class="resumeSection" id="miscellaneous-content">
  <%= render 'layouts/resume/content/miscellaneous' %>
</div>
