<div class="resumeSection" id="employmentHistory">
  <h3>SparkFun Electronics, Niwot, CO</h3>
  <h4>Junior Software Developer, May 2017 - Present</h4>
  <div id="employmentWrapper">
    <div id="description">
      <section id="description">
      	<span>
          <h4>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Lead and major contributor to E-Commerce and ERP system Features
	    <h5>Overhauled promotional code system to incorporate product associations, shopping cart and customer qualifications, blacklisting and requiring of products and product categories, mass customer based promotional code generator, and a csv uploader</h5>
	    <h5>Built a developer dashboard to visualize current and historic sprint data as well as to show aggregate and individual team member overviews through Bugzilla, GitHub, and Jira integrations
Used D3.js to create data visualizations of company demographics</h5>
            <h5>Continuous work on integration of drop-ship operations into the current workflow including new commerce features, ERP modifications, upgrades, updates, and restructuring of the shopping cart and checkout features to accept the new flow</h5>
          </h4>
	  <h4>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
	    Responsible for maintenance, upgrades, and updates including resolving bugs, modifications, spam control, cron jobs, services, graphics, mailers, ACLs, RSS enhancements, and documentation
	  </h4>
        </span>
      </section>
    </div>
  </div>
  <hr width="25%">

  <div class="resumeSection" id="employmentHistory">
  <h3>Flatiron School, Remote</h3>
  <h4>Learn Expert, December 2016 - Present</h4>
  <div id="employmentWrapper">
    <div id="description">
      <section id="description-1">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Assist students with technological and conceptual education through real-time chat and screen share environments
          </h5>
        </span>
      </section>
      <section id="description-2">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Provide Ruby on Rails, JavaScript, Sinatra, Angular and React resources and assistance
          </h5>
       </span>
      </section>
    </div>
  </div>
  <hr width="25%">

  <h3>Assured Assisted Living, Castle Rock, CO</h3>
  <h4>Activities Administrator, January 2016 - June 2016</h4>
  <div id="employmentWrapper">
    <div id="description">
      <section id="description-1">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Coordinated and implemented activities for 7 assisted living facilities, accommodating for an average of 80 residents
          </h5>
        </span>
      </section>
      <section id="description-2">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Served as program organizer for “Memories in the Making” which entailed attending Alzheimer’s Association workshops and initiating art therapy programs within the facilities
          </h5>
       </span>
      </section>
    </div>
  </div>
  <hr width="25%">

  <h3>DDI Vantage, Inc., Salt Lake City, UT</h3>
  <h4>Health Services Specialist, March 2015 - October 2015</h4>
  <div id="employmentWrapper">
    <div id="description">
      <section id="description-1">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Oversaw health and safety for 3 childcare facilities and 100 individual children in the Early Head Start program              </h5>
        </span>
      </section>
      <section id="description-2">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Created data systems to track and coordinate health and safety metrics for all children within the program; consistently met guidelines, deadlines and time frames established by the program’s federal grant mandated regulations
          </h5>
       </span>
      </section>
    </div>
  </div>
  <hr width="25%">


  <h3>Fine Dining, Personal, and Instructive, various locations</h3>
  <h4>Chef, 2005 - 2014</h4>
  <div id="employmentWrapper">
    <div id="description">
      <section id="description-1">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Managed up to 6 staff at a time including training and oversight resulting in a more efficient and productive kitchen
        </span>
      </section>
      <section id="description-2">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Developed  and prepared individualized meals and meal plans for 15 clients ranging from 2-20 meals per client per week
          </h5>
       </span>
      </section>
      <section id="description-3">
        <span>
          <h5>
            <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
            Designed, planned, and led specialized interactive cooking classes for up to 20 students per class
          </h5>
       </span>
      </section>
    </div>
  </div>
</div>
</div>
