<h3>
  <%= image_tag("earth.png", :alt => "earth", :id => "earth") %>
  Colorado Alternative Fuel Stations
</h3>
<h4>Search and discover Colorado's alternative fuel stations</h4>
<h5>
  <div id="columnWrapper">
    <div id="column1">
      <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Ruby on Rails used to request and parse JSON data from the Colorado Information Marketplace</section>
      <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> PostgreSQL database built to store requested data</section>
    </div>
    <div id="column2">
      <span>
        <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> AngularJS front-end used to create a dynamic user experience</section>
        <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Heroku used to deploy live environment</section>
      </span>
    </div>
  </div>
</h5>
<hr width="25%">

<h3>
  YogaFlow
  <%= image_tag("om.png", :alt => "om", :id => "om") %>
</h3>
<h4>Build yoga sequences comprised of pre-existing or self-added yoga poses</h4>
 <h5>
   <div id="columnWrapper">
     <div id="column1">
       <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Ruby on Rails used to build an interactive environment to store client input to SQL database</section>
       <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Bootstrap and SASS used for client-side design</section>
     </div>
     <div id="column2">
       <span>
         <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> JavaScript/jQuery used to create an intuitive front-end experience</section>
       </span>
     </div>
   </div>
 </h5>
 <hr width="25%">


<h3>
  <%= image_tag("vegetables.png", :alt => "vegetables", :id => "vegetables") %>
  Kitch-Tips
</h3>
<h4>Create and view tips for the kitchen based upon ingredients</h4>
 <h5>
   <div id="columnWrapper">
     <div id="column1">
       <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Sinatra framework with Ruby used to create an interactive experience for the user</section>
     </div>
     <div id="column2">
       <span>
         <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> SQLite database and Active Record used to store and retrieve data</section>
       </span>
     </div>
   </div>
 </h5>
 <hr width="25%">


<h3>Trail Info CLI Gem
  <%= image_tag("tree.png", :alt => "tree", :id => "tree") %>
</h3>
<h4>Select a state and browse the trails and specifications available</h4>

 <h5>
   <div id="columnWrapper">
     <div id="column1">
       <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Nokogiri used to scrape TrailLink.com</section>
     </div>
     <div id="column2">
       <span>
         <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Ruby code, available on RubyGems.org</section>
       </span>
     </div>
   </div>
 </h5>
