<div class="projectDisplay">
  <h1>Colorado Alternative Fuel Stations</h1>
  <div class="projectDescription">
    <h3>Colorado Alternative Fuel Stations is a web application to discover alternative fuel stations and their relevant data acquired from data.colorado.gov. It is constructed with a Ruby on Rails back-end to persist and render JSON data to the AngularJS front-end. </h3>
  </div>


  <div class="projectImages">
    <a target="blank" href="assets/altfuel5-8cdcf064ab930676b331a363aa3df858c8c4c96aba1efc83b75ecf8740bed6a5.png"><%= image_tag("altfuel5.png", :alt => "altfuel5", :class => "altFuelPic project projectItemPic", :id => "altfuel5") %></a>
    <a target="blank" href="/assets/altfuel6-7027e7837befe1756d7b7136e5307f2a2d08b1b29154a2dbddfd1a953964456e.png"><%= image_tag("altfuel6.png", :alt => "altfuel6", :class => "altFuelPic project projectItemPic", :id => "altfuel6") %></a>
    <a target="blank" href="/assets/altfuel1-fb4b1c3c10ba6d108d6cfec33ae873d9dc3b97c79ec292bb66d7ca8944772349.png"><%= image_tag("altfuel1.png", :alt => "altfuel1", :class => "altFuelPic project projectItemPic", :id => "altfuel1") %></a>
    <a target="blank" href="/assets/altfuel2-c01692919a7561714deddc9f0c1ccbfbf56b4471c4f217d44a129b5aa242785b.png"><%= image_tag("altfuel2.png", :alt => "altfuel2", :class => "altFuelPic project projectItemPic", :id => "altfuel2") %></a>
    <a target="blank" href="/assets/altfuel4-8d79d8f7a780071cef05b6931aa31ad236e77b41534b919545d5fd756dc6909e.png"><%= image_tag("altfuel4.png", :alt => "altfuel4", :class => "altFuelPic project projectItemPic", :id => "altfuel4") %></a>
  </div>

  <h4>Click on a picture to see it full-sized</h4>
  <h3><a href="https://github.com/Traci7822/alternative_fuel_stations" target="_blank">https://github.com/Traci7822/alternative_fuel_stations</a></h3>

  <div class="slideshowButtons">
    <a class="w3-btn-floating w3-display-left" onclick="plusFuelDivs(-1)">&#10094;</a>
    <a class="w3-btn-floating w3-display-right" onclick="plusFuelDivs(+1)">&#10095;</a>
  </div>


  <div class="projectReturn">
    <a href="#" class="navItem" id="projects">Return to Projects</a>
  </div>
</div>

<script>
  var fuelSlideIndex = 1;
  showFuelDivs(fuelSlideIndex);

  function plusFuelDivs(n) {
    showFuelDivs(fuelSlideIndex += n);
  }

  function showFuelDivs(n) {
    var i;
    var x = document.getElementsByClassName('altFuelPic');
    if (n > x.length) {fuelSlideIndex = 1}
    if (n < 1) {fuelSlideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[fuelSlideIndex-1].style.display = "block";
  }
</script>
