<div class="projectDisplay">
  <h1>Yoga Flow</h1>
  <div class="projectDescription">
    <h3>YogaFlow is a web app to create yoga sequences full of yoga poses. You can add pre-existing poses, create your own, and comment on the sequences. Technologies used include Ruby on Rails, JavaScript and jQuery. </h3>
  </div>


  <div class="projectImages">
    <a target="blank" href="/assets/yogaflow1-e76e96e9b2c4a4907b7037f1084e37a9cb60b220602985c929e222b1f4d23e28.png"><%= image_tag("yogaflow1.png", :alt => "yogaflow1", :class => "yogaFlowPic project projectItemPic", :id => "yogaflow1") %></a>
    <a target="blank" href="/assets/yogaflow2-18b6565b849a8f464bad6a2ec14c8bfb3c84f715c6203be4132ca620bbf6fe67.png"><%= image_tag("yogaflow2.png", :alt => "yogaflow2", :class => "yogaFlowPic project projectItemPic", :id => "yogaflow2") %></a>
    <a target="blank" href="/assets/yogaflow3-e514e68e178d63d0b6a568c2900e948d7fc9adcca586725e0a30118efdff1897.png"><%= image_tag("yogaflow3.png", :alt => "yogaflow3", :class => "yogaFlowPic project projectItemPic", :id => "yogaflow3") %></a>
    <a target="blank" href="/assets/yogaflow4-dceab02858118781a3139dc01ff413b5e1cce97cc5c1434706132228e0c6184e.png"><%= image_tag("yogaflow4.png", :alt => "yogaflow4", :class => "yogaFlowPic project projectItemPic", :id => "yogaflow4") %></a>
    <a target="blank" href="/assets/yogaflow5-81436efb6b4dcf773e8dd8b5c84887bcb5db92f95b691780fc5d41d5f34d0676.png"><%= image_tag("yogaflow5.png", :alt => "yogaflow5", :class => "yogaFlowPic project projectItemPic", :id => "yogaflow5") %></a>
  </div>

  <h4>Click on a picture to see it full-sized</h4>
  <h3><a href="https://github.com/Traci7822/yogaflow2" target="_blank">https://github.com/Traci7822/yogaflow2</a></h3>

  <div class="slideshowButtons">
    <a class="w3-btn-floating w3-display-left" onclick="plusYogaDivs(-1)">&#10094;</a>
    <a class="w3-btn-floating w3-display-right" onclick="plusYogaDivs(+1)">&#10095;</a>
  </div>


  <div class="projectReturn">
    <a href="#" class="navItem" id="projects">Return to Projects</a>
  </div>
</div>

<script>
  var yogaSlideIndex = 1;
  showYogaDivs(yogaSlideIndex);
  function plusYogaDivs(n) {
    showYogaDivs(yogaSlideIndex += n);
  }
  function showYogaDivs(n) {
    var i;
    var x = document.getElementsByClassName('yogaFlowPic');
    if (n > x.length) {yogaSlideIndex = 1}
    if (n < 1) {yogaSlideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[yogaSlideIndex-1].style.display = "block";
  }
</script>
