<div class="resumeLinks">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a class="resumeItem" id="technicalProjects" href="#">Technical Projects</a></div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a class="resumeItem" id="technicalSkills" href="#">Technical Skills</a></div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a class="resumeItem" id="employmentHistory" href="#">Employment History</a></div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><a class="resumeItem" id="education" href="#">Education</a></div>
</div>

<div id="resumeItems">
  <div id="technicalProjects-content">
    <h3>
      <%= image_tag("earth.png", :alt => "earth", :id => "earth") %>
      Colorado Alternative Fuel Stations
    </h3>
    <h4>Search and discover Colorado's alternative fuel stations</h4>
    <h5>
      <div id="columnWrapper">
        <div id="column1">
          <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Ruby on Rails used to request and parse JSON data from the Colorado Information Marketplace</section>
          <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> PostgreSQL database built to store requested data</section>
        </div>
        <div id="column2">
          <span>
            <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> AngularJS front-end used to create a dynamic user experience</section>
            <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Heroku used to deploy live environment</section>
          </span>
        </div>
      </div>
   </h5>
   <hr width="25%">

    <h3>
      YogaFlow
      <%= image_tag("om.png", :alt => "om", :id => "om") %>
    </h3>
    <h4>Build yoga sequences comprised of pre-existing or self-added yoga poses</h4>
     <h5>
       <div id="columnWrapper">
         <div id="column1">
           <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Ruby on Rails used to build an interactive environment to store client input to SQL database</section>
           <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Bootstrap and SASS used for client-side design</section>
         </div>
         <div id="column2">
           <span>
             <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> JavaScript/jQuery used to create an intuitive front-end experience</section>
           </span>
         </div>
       </div>
     </h5>
     <hr width="25%">


    <h3>
      <%= image_tag("vegetables.png", :alt => "vegetables", :id => "vegetables") %>
      Kitch-Tips
    </h3>
    <h4>Create and view tips for the kitchen based upon ingredients</h4>
     <h5>
       <div id="columnWrapper">
         <div id="column1">
           <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Sinatra framework with Ruby used to create an interactive experience for the user</section>
         </div>
         <div id="column2">
           <span>
             <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> SQLite database and Active Record used to store and retrieve data</section>
           </span>
         </div>
       </div>
     </h5>
     <hr width="25%">


    <h3>Trail Info CLI Gem
      <%= image_tag("tree.png", :alt => "tree", :id => "tree") %>
    </h3>
    <h4>Select a state and browse the trails and specifications available</h4>

     <h5>
       <div id="columnWrapper">
         <div id="column1">
           <section id="col-1"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Nokogiri used to scrape TrailLink.com</section>
         </div>
         <div id="column2">
           <span>
             <section id="col-2"><%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %> Ruby code, available on RubyGems.org</section>
           </span>
         </div>
       </div>
     </h5>
  </div>

  <div id="technicalSkills-content">
    <h3>Languages</h3>
    <h4>Ruby, HTML5/CSS, Bootstrap, SQL, JavaScript</h4>
    <hr width="25%">
    <h3>Libraries/Frameworks</h3>
    <h4> Rails, ActiveRecord, Sinatra, AngularJS, jQuery </h4>
    <hr width="25%">
    <h3>Miscellaneous</h3>
     <h4>Git/Github, WordPress, Affinity Photo, Linux</h4>

  </div>

  <div id="employmentHistory-content">
    <h3>Assured Assisted Living, Castle Rock, CO</h3>
    <h4>Activities Administrator, January 2016 - June 2016</h4>
      <div id="employmentWrapper">
        <div id="description">
          <section id="description-1">
            <span>
              <h5>
                <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
                Coordinated and implemented activities for 7 assisted living facilities, accommodating for an average of 80 residents
              </h5>
            </span>
          </section>
          <section id="description-2">
            <span>
              <h5>
                <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
                Served as program organizer for “Memories in the Making” which entailed attending Alzheimer’s Association workshops and initiating art therapy programs within the facilities
              </h5>
           </span>
          </section>
        </div>
      </div>
      <hr width="25%">

      <h3>DDI Vantage, Inc., Salt Lake City, UT</h3>
      <h4>Health Services Specialist, March 2015 - October 2015</h4>
      <div id="employmentWrapper">
        <div id="description">
          <section id="description-1">
            <span>
              <h5>
                <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
                Oversaw health and safety for 3 childcare facilities and 100 individual children in the Early Head Start program              </h5>
            </span>
          </section>
          <section id="description-2">
            <span>
              <h5>
                <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
                Created data systems to track and coordinate health and safety metrics for all children within the program; consistently met guidelines, deadlines and time frames established by the program’s federal grant mandated regulations
              </h5>
           </span>
          </section>
        </div>
      </div>
      <hr width="25%">


      <h3>Fine Dining, Personal, and Instructive, various locations</h3>
      <h4>Chef, 2005 - 2014</h4>
      <div id="employmentWrapper">
        <div id="description">
          <section id="description-1">
            <span>
              <h5>
                <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
                Managed up to 6 staff at a time including training and oversight resulting in a more efficient and productive kitchen
            </span>
          </section>
          <section id="description-2">
            <span>
              <h5>
                <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
                Developed  and prepared individualized meals and meal plans for 15 clients ranging from 2-20 meals per client per week
              </h5>
           </span>
          </section>
          <section id="description-3">
            <span>
              <h5>
                <%= image_tag("circle.png", :alt => "circle", :id => "itemCircle") %>
                Designed, planned, and led specialized interactive cooking classes for up to 20 students per class
              </h5>
           </span>
          </section>
        </div>
      </div>
      </div>

  <div id="education-content">
    <h3>Flatiron School - 2016</h3>
    <h5> Full Stack Web Development, Ruby on Rails and JavaScript online program</h5>
    <hr width="25%">

    <h3>University of Colorado, Denver - Denver, CO - 2014</h3>
    <h5> Bachelor of Arts: Public Health - Departmental Honors, Dean’s List</h5>
    <hr width="25%">

    <h3>The Art Institute of Seattle - Seattle, WA - 2008</h3>
    <h5> Associate of Applied Arts: Culinary Arts - President's List, Dean’s List</h5>
    <hr width="25%">

    <h3>Northeastern University - Boston, MA - 2 years</h3>
    <h5> Fine Arts - Photography</h5>
  </div>

</div>
</div>
