<div class="section">
  <section id="about-content">
    <%= render 'layouts/about' %>
  </section>

  <section id="projects-content">
    <%= render 'layouts/projects' %>
  </section>

  <section id="resume-content">
    <%= render 'layouts/resume' %>
  </section>

  <section id="blog-content">
    <%= render 'layouts/blog' %>
  </section>

  <section id="contact-content">
    <%= render 'layouts/contact' %>
  </section>

  <section id="trailInfo-content">
    <%= render 'layouts/projects/trailInfo' %>
  </section>

  <section id="altFuel-content">
    <%= render 'layouts/projects/altFuel' %>
  </section>

</div>
